<!-- ~/php/tp1/view/404.html -->
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>404 Not Found</title>
    </head>
    <body>
        <h1>404 Not Found</h1>
        <h2>We are unable to find the city you are looking for :-(</h2>
        <p>Please accept this gif as an apology:</p>
        <p><img src="https://raw.github.com/willdurand-edu/php-practicals/master/src/images/nyan.gif" /></p>
        <footer>
            <a href="/cities.php">Back to list</a>
        </footer>
    </body>
</html>
